{% extends "app/layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас - Пиццерия Фреди Фазберс</title>
</head>
<body>
    <h1>Добро пожаловать в пиццерию "Фреди Фазберс"</h1>
    <h2>О нас</h2>
    <p>Пиццерия "Фреди Фазберс" - это уютное место, где вы можете насладиться вкуснейшей пиццей в компании дружелюбных аниматроников. Наша история началась много лет назад, когда Фреди, Чика, Бонни и Фокси решили открыть эту пиццерию, чтобы радовать гостей не только вкусной едой, но и захватывающими шоу и развлечениями.</p>
    <h2>Наши ценности</h2>
    <p>В "Фреди Фазберс" мы ставим качество обслуживания и безопасность наших гостей на первое место. Мы стремимся создать атмосферу радости и веселья, где каждый посетитель может почувствовать себя как дома. Наша команда профессионалов всегда готова принять вас с улыбкой и готова предложить вам лучшие вкусные блюда и веселое времяпрепровождение.</p>
    <h2>Наши блюда</h2>
    <p>Мы гордимся нашим ассортиментом пиццы, начиная от классической пепперони и заканчивая экзотическими вкусами, которые удивят ваши вкусовые рецепторы. Кроме того, наша меню также предлагает разнообразные закуски, напитки и десерты, которые удовлетворят любой вкус.</p>
    <h2>Контакты</h2>
    <p>Мы находимся по адресу: ул. Аниматроников, д. 5, г. Веселоград. Телефон для заказов: +7 (XXX) XXX-XX-XX. Мы рады видеть вас каждый день с 11:00 до 22:00.</p>
</body>
</html>

{% endblock %}
